<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resume</title>
    <style>
        table{
            border : 1px solid black;
            border-collapse: collapse;
            padding :10px;
            text-align: center;
        }

        th, td{
            padding :10px;
            border : 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Resume Extractor</h1>
    <form action="/process_resume" method="POST" enctype="multipart/form-data">
        <p>
            <input type="file" accept="pdf" name="resume_file">
        </p>
        <p>
            <input type="submit">
        </p>
        <p>
            {% if res %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Skills</th>
                    <th>Experience</th>
                </tr>
                {% for row in res %}
                    <tr>
                        <td>{{row.name}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.contact}}</td>
                        <td>{{row.skills}}</td>
                        <td>{{row.experience}}</td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
        </p>
    </form>
    
</body>
</html>